{% extends "theme.html" %}

{% block title %}
Question
{% endblock %}

{% block extStyle %}
<link href="../static/css/evaluated.css" rel='stylesheet' type='text/css' media="all" />
{% endblock %}

{% block extJS %}

{% endblock %}
{% block body %}
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="/">BACK</a>
      <a class="navbar-brand" style="margin-left: 530px; font-weight: 700; color: white;" href="index.html">IR Assignment 3</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    </div>
  </div>
</nav>
<div class="formContainer">
  <div class="myform">
    <table>
        <th id="term">Query Term</th>
        <th>Intersection</th>
        <th>Number of Documents</th>
        <tr>
          <script type="text/javascript">
            document.writeln("<td>" + "{{query}}" + "</td>");
            document.writeln("<td>" + "{{docs}}" + "</td>");
            document.writeln("<td>" + "{{number}}" + "</td>");
          </script>
        </tr>
    </table>
  </div>  
</div>

{% endblock %}